.Definitions h3 {
  color: rgb(225, 194, 154);
  font-size: 34px;
  font-family: "Cormorant Garamond", serif;
}
/* #B6E388  --- deep green */
/* #C6EBC5 ---light green */

.Definitions .definitions-text {
  color: #C6EBC5 ;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

.Definitions ol {
  padding-left: 1.5rem !important;
}

@media (max-width: 420px) {
  .Definitions .definitions-text {
    font-size: 18px;
  }

  .Definitions ol {
    padding-left: 1.5rem !important;
  }

  .Definitions h3 {
    font-size: 34px;
  }
}

@media (max-width: 330px) {
  .Definitions .definitions-text {
    font-size: 16px;
  }

  .Dictionary ol {
    padding-left: 1.2rem;
  }

  .Definitions h3 {
    font-size: 26px;
  }
}
